.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.container {
  margin-top: 72px;
  padding-bottom: 32px;
}

#cart-button {
  margin-top: 12px;
  margin-right: 24px;
}

#wrapper {
  margin-top: 32px;
}

#btn-versions {
  margin-top: 32px;
}

