<div class="container">
  <div class="row">
    <div class="col-md-10">
<!--       <div class="well"> -->
        <div ng-controller="ButtonsController">
        <!--   <form class="form-inline"> -->
<!--             <div class="form-group">
              <label for="queryFld" style:"font-size:1.5em;"><strong>Search:</strong></label>
              <input id="queryFld" name="queryFld" class="form-control" ng-model="qfilter" ng-keyup="filterQuery($event)" type="text" >
            </div> -->


            <div class="btn-group pull-right" style="margin-bottom: 14px;" data-toggle="buttons">
                <label class="btn btn-default btn-sm active" ng-click="changeOrder(['pack_name'])">
                  <input type="radio" autocomplete="off" class="btn btn-default btn-sm" checked>Package</button>
                </label>
                <label class="btn btn-default btn-sm" ng-click="changeOrder(['author','pack_name'])">
                  <input type="radio" autocomplete="off" class="btn btn-default btn-sm">Author</button>
                </label>
            </div>
    <!--       </form> -->
        </div>
     <!--  </div> -->
    </div>
  </div>

  <!-- package repeater -->
  <div class="row">
    <div class="col-md-10">
      <div ng-repeat="package in packages | orderBy: orderby | filter: filterby ">
        <div ng-controller="PackageController">
          <div class="panel panel-default">
            <div class="panel-heading lead">
              <div class="row">
                <div class="col-md-12">
                  <h4>{{ package.pack_name }} <small>by {{ package.author }}</small></h4>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <h5 ng-show="packs_loading" class="lead text-success">Loading...</h5>
              <div id="pack-versions" ng-show="packs_loaded" ng-repeat="pack in pack_versions | orderBy: '-version'">
                <div class="row">
                  <div class="col-md-2">
                    <h5><a href="{{ pack.link }}" target="_blank" class="text-warning"><strong>{{ pack.version }}</strong></a></h5>
                  </div>
                  <div class="col-md-9">
                    <h5>{{ package.author }}/{{ package.pack_name }}@{{ pack.version }}</h5>
                  </div>
                  <div class="col-md-1">
                    <input class="pack_cb pull-right" style="margin-top:14px;" type="checkbox" ng-show="$first" ng-click="togglePackage($event,package,pack)" ng-checked="ischecked">
                  </div>
                </div>
              </div>
              <div>
              <button class="btn btn-default btn-versions" ng-show="show_version_btn" ng-click="showVersions(package.link,package.author,package.pack_name)">Show Versions</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
