<div class="container" id="content-top">
  <div class="row">
    <div class="col-md-10">

        <div ng-controller="ButtonsController">
            <div class="btn-group pull-right" style="margin-bottom: 14px;" data-toggle="buttons">
                <label class="btn btn-default btn-sm active" ng-click="changeOrder(['pack_name'])">
                  <input type="radio" autocomplete="off" class="btn btn-default btn-sm" checked>Package</button>
                </label>
                <label class="btn btn-default btn-sm" ng-click="changeOrder(['author','pack_name'])">
                  <input type="radio" autocomplete="off" class="btn btn-default btn-sm">Author</button>
                </label>
            </div>
        </div>
    </div>
  </div>

  <!-- package repeater -->
  <div class="row">
    <div class="col-md-10">
      <div ng-repeat="package in packages | orderBy: orderby | filter: filterby ">
        <div ng-controller="PackageController">
          <div class="panel panel-default">
            <div class="panel-heading lead">
              <div class="row">
                <div class="col-md-12">
                <div class="form-inline">
                <span style="font-weight:bolder;font-size:1.3em;">{{ package.pack_name }}</span> <span class="text-muted">by {{ package.author }}</span> <button class="btn btn-default btn-link pull-right" ng-show="show_version_btn" ng-click="showVersions(package.link,package.author,package.pack_name)"><i class="fa fa-archive fa-2x fa-fw text-muted"></i></button>
                </div>
              </div>
            </div>
            <div class="panel-body" ng-hide="show_version_btn">
              <h5 ng-show="packs_loading" class="lead text-muted"><i class="fa fa-cog fa-spin fa-2x"></i></h5>
              <div id="pack-versions" ng-show="packs_loaded" ng-repeat="pack in pack_versions | orderBy: '-version'">
                <div class="row">
                  <div class="col-md-2">
                    <h5><a href ng-click="showBlob(pack.link)" class="text-warning"><strong>{{ pack.version }}</strong></a></h5>
                  </div>
                  <div class="col-md-9">
                    <h5>{{ package.author }}/{{ package.pack_name }}@{{ pack.version }}</h5>
                  </div>
                  <div class="col-md-1">
                    <input class="pack_cb pull-right" style="margin-top:14px;" type="checkbox" ng-show="$first" ng-click="togglePackage($event,package,pack)" ng-checked="ischecked">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
