<div data-spy="affix" data-offset-top="1" data-offset-bottom="345" ng-controller="SidebarController">
  <div style="font-size:1.3em; margin-bottom: 12px;">Authors</div>
  <ul class="list-unstyled" style="font-size:1.1em;">
  <li><a href ng-click="filterAuthor('')" style="font-size:1.1em;"><strong>All</strong></a></li>
  </ul>
  <ul class="list-unstyled" style="font-size:1.1em;" ng-repeat="author in authors | orderBy">
    <li><a href ng-click="filterAuthor(author)"><i class="fa fa-code fa-fw fa-sm"></i><strong>{{ author }}</strong></a></li>
  </ul>
  <hr/>
  <div>More info at <a href="http://luvit.io" target="_blank"><strong>Luvit.io</strong></a></div>
  <div class="text-muted" style="font-size:.75em;margin-top:10px;">Web App by <a href="http://twitter.com/develephant">@develephant</div>
</div>